<div class="row" style="margin: 100px">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/aquaman.png" alt="Card image cap">
      <div class="card-body">
     
        <h5 class="card-title">Aquaman</h5>
        <p class="card-text">El poder más reconocido de Aquaman es la capacidad telepática para comunicarse
          con la vida marina, la cual puede convocar a grandes distancias.</p>
          <p class="card-text"> aparicion: 1941-11-01</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/batman.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Batman</h5>
        <p class="card-text">Los rasgos principales de Batman se resumen en «destreza física,
           habilidades deductivas y obsesión». La mayor parte de las características básicas de 
           los cómics han variado por las diferentes interpretaciones que le han dado al personaje</p>
           <p class="card-text">  aparicion: 1939-05-01</p>
         
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/img/daredevil.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Daradevil</h5>
        <p class="card-text">Al haber perdido la vista, los cuatro sentidos restantes de Daredevil fueron
           aumentados por la radiación a niveles superhumanos, en el accidente que tuvo cuando era niño.
            A pesar de su ceguera, puede \"ver\" a través de un \"sexto sentido\" que le sirve como un 
            radar similar al de los murciélagos</p>
        <p class="card-text"> aparicion: 1964-01-01</p>

      </div>
    </div>
  </div>
</div>