<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../../../assets/img/nosotros/avatar.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Hoja de vida</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Ingeniero en sistemas</p>
    </div>
</header>

 <!-- Portfolio Section-->
 <section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">PORTAFOLIO</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container text-center">
            <div class="row  row-cols-lg-4 g-2 g-lg-3">
              <div class="col">
                <h3>LENGUAJES</h3>
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/java.jpg" class="mr-3 imgPortafolio" alt="Descripción de la imagen 1">
                  </div>
                   
                    
                  </li>
                  <br>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/php.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">                
                    </div>
                 
                  
                  </li>
                  <br>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/python.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                   
                  </li>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/js.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                    
                  </li>
           
                </ul>
              </div>
              <div class="col">
                <h3>FRAMEWORK</h3>
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/sprint.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 1">
                    </div>
                   
                  </li>
                  <br>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/angular.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                   
                  </li>
           
                </ul>
              </div>
              <div class="col">
                <h3>LIBRERIAS</h3>
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/react.png" class="mr-3 imgPortafolio" alt="Descripción de la imagen 1">
                    </div>
                  
                  </li>
                  <br>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/bosstrap.jpg" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                  
                  </li>
           
                </ul>
              </div>
              <div class="col">
                <h3>BASE DE DATOS</h3>
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/mysql.jpg" class="mr-3 imgPortafolio" alt="Descripción de la imagen 1">
                    </div>
            
                  </li>
                  <br>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/postgresql.jpg" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                 
                  </li>
                  <li class="media">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img src="../../../../assets/img/nosotros/mongodb.jpg" class="mr-3 imgPortafolio" alt="Descripción de la imagen 2">
                    </div>
                  
                  </li>
                </ul>
              </div>
           
            </div>
          </div>
          
    </div>
</section>


     <!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Acerca de</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h1>Estudios</h1>
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Bachiller
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div  class="card-body">
                        <p> Estudie  en la institución educativa la cabaña y me gradue en el año 2016, tuve la oportunidad de adquirir una amplia gama de habilidades y conocimientos que me han sido útiles en mi carrera profesional.
                            <br>
                             Durante mi tiempo en el colegio, tuve la oportunidad de participar en una serie de actividades extracurriculares que me permitieron desarrollar habilidades en áreas como el liderazgo, la comunicación y el trabajo en equipo.
                             <br>
                             También tuve la oportunidad de estudiar materias especializadas como matemáticas, física y química, lo que me ayudó a desarrollar mi pensamiento crítico y habilidades analíticas.
                            Además, durante mi tiempo como estudiante de bachiller, también tuve la oportunidad de trabajar en proyectos que me permitieron aplicar los conocimientos que había adquirido en la práctica
                        </p>

                        <div class="containerImgestudios">
                            <img class="imgestudios" src="../../../../assets/img/nosotros/bachiller.jpg" alt="Institución educativa la cabaña">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Tegnología
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                         <p>Tegnologo en análisis y desarrollo de sistemas de información egresado del sena en el año 2019, esta  sin duda fue  una de las mejores experiencias educativas que he tenido hasta ahora.
                            <br>
                            A lo largo de mi formación, pude adquirir un conjunto de habilidades y conocimientos técnicos que me permitieron desempeñarme de manera efectiva en el campo de la tecnología y los sistemas de información.
                            <br>
                            Durante mi tiempo en el SENA, tuve la oportunidad de trabajar en proyectos prácticos que me permitieron aplicar los conocimientos que había adquirido en el aula a situaciones reales. Por ejemplo, trabajé en proyectos de desarrollo de software
                            en los que aprendí a utilizar herramientas como Java, Python, php  y bases de datos relacionales, entre otras                   
                       </p>

                       <div class="containerImgestudios">
                        <img class="imgestudios" src="../../../../assets/img/nosotros/sena.png" alt="Sena">
                       </div>

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Profesional
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                     <p>Estudio ingeniera en sistemas en la fundación universitaria de popayán este procesoso  ha sido un camino de constante aprendizaje y 
                        crecimiento, lleno de desafíos y oportunidades que me han permitido desarrollarme como estudiante y como
                        futuro profesional en el campo de la tecnología.
                        <br>
                        A lo largo de mi carrera, he tenido la oportunidad de tomar cursos fundamentales 
                        en áreas como programación, bases de datos, redes, seguridad informática, inteligencia 
                        artificial y muchas otras. Cada curso me ha brindado una base sólida de conocimientos técnicos 
                        que he podido aplicar en proyectos prácticos y retos académicos. 
                        <br>
                        En este sentido, he tenido
                        la oportunidad de trabajar en equipo con mis compañeros de clase, lo que me ha permitido mejorar
                        mis habilidades de comunicación y liderazgo.
                    </p>

                    <div class="containerImgestudios">
                        <img class="imgestudios" src="../../../../assets/img/nosotros/FUP.png" alt="Fundación universitaria de popayán">
                       </div>
                    </div>
                  </div>
                </div>
              </div>

              <h1>Experiencia Laboral</h1>
              <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            
                          Desarrollador de software
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div  class="card-body">
                          <p> Como desarrollador de software en la empresa COMUNIX SAS, trabaje un año en el cual  fortaleci 
                              aspectos de programación en lenguages como php, java  y react, maneje bases de datos como maysql y postgresql.
                              Durante mi tiempo en la empresa, participé en varios proyectos de desarrollo de software.

                              <br>
                              Además, en mi papel como desarrollador de software, siempre busqué formas de mejorar los procesos
                               y la eficiencia en el desarrollo de software. Implementé metodologías de desarrollo ágil y fomenté 
                               la colaboración y la comunicación en el equipo, lo que resultó en entregas de proyectos más rápidas y 
                               de mayor calidad.
                            
                           </p>

                          <div class="containerImgestudios">
                              <img class="imgestudios" src="../../../../assets/img/nosotros/comunix.jpg" alt="Institución educativa la cabaña">
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              
        </div>
</section>

  <!-- Contact Section-->
  <section class="page-section" id="contact">
    <div class="container">
<!-- Portfolio Section Heading-->
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">CONTACTO</h2>
<!-- Icon Divider-->
<div class="divider-custom">
<div class="divider-custom-line"></div>
<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
<div class="divider-custom-line"></div>
</div>
      <br>
        <ul class="list-group">
            <li class="list-group-item">Telefono : 3246338246</li>
            <li class="list-group-item">Email: ordonezfelipe2816@gmail.com</li>
            <li class="list-group-item">Redes sociales:</li>
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.facebook.com/example" target="_blank">Facebook</a></li>
              <li class="list-group-item"><a href="https://www.twitter.com/example" target="_blank">Twitter</a></li>
              <li class="list-group-item"><a href="https://www.instagram.com/example" target="_blank">Instagram</a></li>
            </ul>
          </ul>
    </div>
</section>
